<!DOCTYPE html>
<html>
    <head>
        <title>BuuyIt</title>
        <link rel="stylesheet" href="{{url_for('static', filename='store.css')}} ">
    </head>
    <body>
        <div class="main">
            <h1>BuuyIt Online Store</h1><br>
            <a href=" {{url_for('home')}} ">Home</a>
            <a href=" {{url_for('products')}} ">Products</a>
            <a href=" {{url_for('cart')}} ">Cart</a>
            <a href=" {{url_for('upload')}} ">Add</a><br>
           
        {% block title %}{% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <flash><p>{{msg}}</p></flash>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block main %}
        
        {% endblock %}
        </div>
    </body>
</html>