{% extends "basic.html" %}
{% block main %}
<caption><h3 id="1">Laptops</h3></caption>
<a href="{{url_for('home')}}"><img src="{{url_for('static', filename='Images/Hp.jpg')}}"> </a>
<a href="{{url_for('home')}}"><img src="{{url_for('static', filename='Images/Dell.jpg')}}"> </a>
<a href="{{url_for('home')}}"><img src="{{url_for('static', filename='Images/Lenovo.jpg')}}"> </a>
<a href="{{url_for('home')}}"><img src="{{url_for('static', filename='Images/Acer.jpg')}}"> </a>
<a href="{{url_for('home')}}"><img src="{{url_for('static', filename='Images/Toshiba.jpg')}}"> </a>

{% endblock %}